<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->

      <div class="jumbotron" align="center">
        <h1>Contact Us</h1>
        <p>New clients: Mark Dix (Managing Partner)</p>
        <p>Project Inquiries: Kurosh Farhadi (Project Manager)</p>
        <p>Technical Enquiries: Shiv Konar (BI Developer)</p>
        <!--<p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p> -->
      </div>

    </div> <!-- /container -->
</body>
</html>