<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->

      <div class="jumbotron">
        <h1>Analytics Ticketing System</h1>
        <p>One stop shop to log bugs and issues for the Analytics team to review.</p>
        <p>To get started, Register.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/accounts/register" role="button">Register &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->
</body>
</html>